build/
node_modules/
**/target/
/.idea/
/src/main/resources/application.properties
.DS_Store
.project
*.mv.db
*.trace.db
.classpath
.settings
*.iml
webpack.config.js
package*json
/addon/webpack.generated.js
/demo/webpack.generated.js
rebel.xml
/demo/pnpm-lock.yaml
/demo/pnpmfile.js
