/*
We use a specific class name selector here instead of just the "fc". This way we want to prevent from
bleeding into any other elements, that also have a classname "fc" with a lumo theme applied.

Some stylings are inspired from similar Vaadin components, like for instance the grid.
*/

.vaadin-full-calendar.fc[theme~="lumo"] {

    font-family: var(--lumo-font-family); /* should apply by global default but just for the case someone changed it somehow */

    --fc-small-font-size: var(--lumo-font-size-s);
    --fc-page-bg-color: var(--lumo-base-color);
    --fc-neutral-bg-color: var(--lumo-contrast-5pct);
    --fc-neutral-text-color: var(--lumo-secondary-text-color);
    --fc-border-color: var(--lumo-contrast-10pct); /* outer border is overriden separately*/
    --fc-outer-border-color: var(--lumo-contrast-20pct);

    --fc-event-bg-color: var(--lumo-primary-color-50pct);
    --fc-event-border-color: var(--lumo-primary-color-50pct);
    --fc-event-text-color: var(--lumo-primary-contrast-color);
    --fc-event-selected-overlay-color: var(--lumo-primary-color-10pct);
    --fc-list-event-hover-bg-color: var(--lumo-primary-color-10pct);

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: var(--lumo-contrast-5pct);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: var(--lumo-primary-color-10pct);

    --fc-today-bg-color: transparent; /* handled differently */
    --fc-now-indicator-color: red;
}

/* general modifications of the calendar entry / event item */
.vaadin-full-calendar.fc[theme~="lumo"] .fc-event {
    border-radius: var(--lumo-border-radius-m);
    padding-left: var(--lumo-space-xs);
    padding-right: var(--lumo-space-xs);


}

/* to have some visual feedback on hovering, inspired by buttons, not realizable the same way*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-event:hover {
    filter: brightness(90%) contrast(1.2);
}



/* changing hovering colors for any other type of events, that have no own background color or custom property*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-daygrid-dot-event:hover {
    background-color: var(--lumo-primary-color-10pct)
}

/* general font sizes*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-col-header-cell,
.vaadin-full-calendar.fc[theme~="lumo"] .fc-daygrid-day-number,
.vaadin-full-calendar.fc[theme~="lumo"] .fc-daygrid-week-number,
.vaadin-full-calendar.fc[theme~="lumo"] .fc-timeline-header-row,
.vaadin-full-calendar.fc[theme~="lumo"] .fc-list th .fc-list-day-cushion {
    font-size: var(--lumo-font-size-s);
}

/* the selection highlight*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-highlight {
    /* imitates the Grid selection highlighting */
    background: linear-gradient(var(--fc-highlight-color), var(--fc-highlight-color)) repeat;
    box-shadow: 0 1px 0 0 var(--fc-highlight-color);
}

/* This part makes the "today" link being shown as a badge */
.vaadin-full-calendar.fc[theme~="lumo"] .fc-day-today a:is(
        .fc-col-header-cell-cushion,
        .fc-daygrid-day-number,
        .fc-list-day-text,
        .fc-timeline-slot-cushion,
        .fc-list-day-side-text
    ):not(:empty) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /*padding: 0.4em calc(0.5em + var(--lumo-border-radius-s) / 4);*/
    padding: 0 var(--lumo-space-s);
    color: var(--lumo-primary-text-color);
    background-color: var(--lumo-primary-color-10pct);
    border-radius: var(--lumo-border-radius-s);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-s);
    /*line-height: 1;*/
    font-weight: 500;
    text-transform: initial;
    letter-spacing: initial;
    min-width: calc(var(--lumo-line-height-xs) * 1em + 0.45em);
    flex-shrink: 0;
}

.vaadin-full-calendar.fc[theme~="lumo"] .fc-day-today a.fc-daygrid-day-number {
    margin: var(--lumo-space-xs) 0;
}

/* not sure why FC per default aligns things to the top */
.vaadin-full-calendar.fc[theme~="lumo"] th[role="columnheader"],
.vaadin-full-calendar.fc[theme~="lumo"] .fc-timeline-header-row th {
    vertical-align: middle;
    height: var(--lumo-size-m);
    box-sizing: content-box; /*otherwise some bottom borders disappear due to the height setting */
}

/* set a fixed styling for all different view headers to allow consistent display of header cells*/
.vaadin-full-calendar.fc[theme~="lumo"] th[role="columnheader"] {
    height: var(--lumo-size-m);
}

/* FC adds empty "day numbers", even if they are not needed. This messes up our styling so we hide them */
.vaadin-full-calendar.fc[theme~="lumo"] :is(.fc-dayGridWeek-view, .fc-dayGridDay-view) a:is(.fc-daygrid-day-number) {
    visibility: hidden !important;/*we want to preserve the space for the CW part (?) but not show anything*/
    /*display: none !important; !*alternative to the visibility hidden*!*/
}

/* Today badge stylings for multi month view */
.vaadin-full-calendar.fc[theme~="lumo"] .fc-multiMonthYear-view .fc-day-today a.fc-daygrid-day-number {
    margin: var(--lumo-space-xs) 0;/* to not have the today badge sitting in the corner*/
}

/* the "plus n more events". The fc custom properties seem not to work, so we set it here manually*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-more-link {
    color: var(--lumo-body-text-color);
}

.vaadin-full-calendar.fc[theme~="lumo"] .fc-more-link:hover {
    background-color: var(--lumo-contrast-10pct);
}

    /* setting an outer border like the grid does*/
.vaadin-full-calendar.fc[theme~="lumo"] .fc-scrollgrid {
    border-color: var(--fc-outer-border-color);
}