@import "app-layout-styles.css";

h2.title {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

span.description {
    font-size: 0.8rem;
}

.resource-component-columns-view .fc-event{
    margin-top: var(--lumo-space-m);
}

.resource-component-columns-view .fc-datagrid-cell-frame:not(:has(vaadin-date-picker)){
    display: flex;
    align-items: center;
}
